#title {
    text-align: center;
    font-family: "EB GAramond", serif;
  }
  
  #device {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #device td, #device th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #device tr:nth-child(even){background-color: #f2f2f2;}
  
  #device tr:hover {background-color: #ddd;}
  
  #device th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(120, 47, 64);
    color: white;
  }
  .opration {
    text-align: center;
  }
  #box{
    margin: auto 5px;
  }
